@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  background-image: linear-gradient(180, #434343 0%, black 100%);
}

header {
  background-image: url("../public/hero_photo.jpg");
}
